// sass/main.scss
@use "carousel";

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik-latin-900-normal.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: system-ui, sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  font-family: 'Rubik';
  background-color: #270d51;
  color: #b69de0;

}

/* Tell headings to use your heavy 900 file */
h1, h2 {
    font-weight: 900; 
}

.btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin: 0.25rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 500;

  &:hover {
      opacity: 0.85;
  }
}

.btn-email {
  background: #2a6df4;
}

.btn-reddit {
  background: #ff4500;
}


.btn-github {
  background: #b69de0;
}
