// sass/main.scss
@use "carousel";

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: system-ui, sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  font-family: Rubik;
  background-color: #270d51;
  color: #b69de0;

}

.btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin: 0.25rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 500;

  &:hover {
      opacity: 0.85;
  }
}

.btn-email {
  background: #2a6df4;
}

.btn-reddit {
  background: #ff4500;
}


.btn-github {
  background: #b69de0;
}
